<div class="container">
  <div class="row">
    <div id="content-banner" class="col-md-12">
      <img id="banner" src="assets/img/banner_proyecto.png" class="img-fluid" alt="Cafe el aroma mágico">
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 ">
      <table class="table table-sm">
        <thead class="table-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Tipo</th>
            <th scope="col">Región</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of cafes">
            <td>
              <dd>{{c.id}}</dd>
            </td>
            <td>
              <dd>{{c.nombre}}</dd>
            </td>
            <td>
              <dd>{{c.tipo}}</dd>
            </td>
            <td>
              <dd>{{c.region}}</dd>
            </td>
        </tr>
        </tbody>
      </table>

    </div>
  </div>
  <footer class="text-center text-lg-start bg-white text-muted">
    <div class="text-center p-2" >
      Contact us: +57 3102105253 - info@elaromamagico.com - @elaromamagico
    </div>
  </footer>

</div>
